* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', serif;
  color: #262626;
  min-width: 320px;
}

.button-o {
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid #507fe1;
  padding: 17px 22px;
  cursor: pointer;
  color: #507fe1;
  font-family: 'Proxima Nova Semibold', serif;
  font-size: 12px;
  -webkit-transition: .25s;
  transition: .25s;
}

.button-o:hover {
  background-color: #507fe1;
  color: #fff;
}

.button {
  text-transform: uppercase;
  background-color: #507fe1;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 25px 45px;
  font-family: 'Proxima Nova Semibold', serif;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s;
}

.button:hover {
  background-color: #3a6fdd;
}

.button-order {
  background-color: #668fe5;
}

.bg-secondary {
  background-color: #f1f1f1;
}

.input {
  height: 80px;
  padding: 15px 30px;
  border: 1px solid #dddddd;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Proxima Nova Semibold', serif;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-family: 'Proxima Nova Semibold', serif;
  font-size: 19px;
  text-decoration: none;
  color: #262626;
}

.navbar__small-text {
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
  display: block;
}

.menu {
  position: fixed;
  top: 80px;
  left: 0;
  padding: 16px 0;
  background-color: #507fe1;
  width: 100%;
  z-index: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}

.menu-button__line {
  height: 3px;
  background-color: #89a9eb;
  border-radius: 1rem;
  width: 20px;
  margin: 2px 0;
  display: block;
}

.logo__text {
  display: block;
  font-family: 'Proxima Nova Semibold', serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .54px;
  margin-bottom: 5px;
}

.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

.hero {
  background: #f1f1f1 url("../img/hero/hero-bg.jpg") no-repeat center top;
  background-size: cover;
  padding: 120px 0 110px;
  margin-top: 80px;
}

.hero__title {
  max-width: 262px;
  font-size: 30px;
  margin-bottom: 40px;
}

.hero__subtitle {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', serif;
  margin-bottom: 60px;
  display: block;
}

.offer {
  padding: 129px 0;
}

.offer-block {
  padding: 80px;
  margin-top: -200px;
  background: #fff;
  -webkit-box-shadow: 0px 15px 25px 0px rgba(50, 50, 50, 0.35);
          box-shadow: 0px 15px 25px 0px rgba(50, 50, 50, 0.35);
}

.offer-block_calc-bg {
  background: #fff url("../../img/form-calc-bg.png") no-repeat center right;
  background-size: contain;
}

.offer-block_price-bg {
  background: #fff url("../../img/form-price-bg.png") no-repeat center right;
  background-size: contain;
}

.offer-block__title {
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', serif;
  font-size: 25px;
  margin: 20px 0;
}

.offer-block__subtitle {
  font-size: 21px;
  display: block;
  margin-bottom: 30px;
  max-width: 800px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  max-width: 900px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  font-size: 16px;
  display: block;
  font-family: 'Proxima Nova Semibold', serif;
  margin: 0 0 20px;
}

.form__group {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.form__input {
  border-right-width: 0;
  width: 100%;
}

.form__group:last-child .form__input {
  border-right-width: 1px;
}

.form__button {
  width: 100%;
  height: 80px;
}

.form__checkbox {
  display: none;
}

.form__checkbox:checked ~ label::before {
  background-color: #507fe1;
}

.form-checkbox__label {
  position: relative;
  padding-left: 30px;
  font-family: 'Proxima Nova Semibold', serif;
}

.form-checkbox__label:before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  position: absolute;
  left: 0;
  top: -1px;
}

.form__policy {
  display: block;
  margin-left: 45px;
  font-size: 15px;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  margin-top: 50px;
}

.features__text {
  font-size: 20px;
  color: #000000;
}

.catalog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__item {
  position: relative;
  overflow: hidden;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  height: 125px;
  margin-top: 30px;
  -webkit-box-shadow: 1px 10px 21px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 1px 10px 21px 0 rgba(0, 0, 0, 0.15);
}

.catalog__item:hover .catalog__buttons {
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.catalog__image {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -50px -48px;
     object-position: -50px -48px;
}

.catalog__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.catalog__button {
  padding: 10px;
  border: none;
}

.catalog__tag {
  position: absolute;
  font-size: 11px;
  color: #ffffff;
  text-transform: uppercase;
  top: 10px;
  left: 10px;
  background-color: rgba(80, 127, 225, 0.6);
  padding: 10px;
}

.catalog__bottom {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.catalog__bottom a {
  display: block;
}

.catalog__bottom span {
  display: block;
  margin-top: 30px;
}

.blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__title {
  font-size: 24px;
}

.blog__link-more {
  color: #507fe1;
}

.blog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__item {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  min-width: 265px;
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  -webkit-box-shadow: 1px 7px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 1px 7px 10px 0 rgba(0, 0, 0, 0.15);
}

.blog__image {
  width: 100%;
  height: 190px;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 45% 5%;
     object-position: 45% 5%;
}

.price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price__item {
  margin-top: 20px;
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.price__item:hover .price__buttons {
  z-index: 99;
  bottom: -70px;
}

.price__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7px;
}

.price__tag {
  font-family: 'Proxima Nova Semibold', serif;
}

.price__buttons {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.price__button {
  padding: 15px 20px;
  display: inline-block;
}

.step {
  text-align: center;
  font-size: 15px;
  position: relative;
  margin-top: 30px;
}

.step::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 30%;
  right: -58%;
  background-color: #CECECF;
}

.step:last-child::before {
  display: none;
}

.steps-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.step__description {
  padding: 0 15px;
}

.review {
  text-align: center;
  -ms-flex-preferred-size: 32.5%;
      flex-basis: 32.5%;
  font-size: 15px;
}

.reviews-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__text {
  background-color: #fff;
  font-style: italic;
  padding: 15px;
  position: relative;
  border-radius: 10px;
}

.review__text::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #ffffff;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.review__image {
  display: block;
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border: 2px solid #668fe5;
  border-radius: 50%;
}

.fabric {
  padding-top: 0;
}

.fabric-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fabric__text {
  font-size: 20px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.fabric__text p {
  margin-top: 0;
}

.fabric__image {
  margin-right: 70px;
}

.contacts {
  padding-bottom: 40px;
}

.contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__phone, .contacts__addr, .contacts__email {
  text-align: center;
}

.contacts__phone img, .contacts__addr img, .contacts__email img {
  display: block;
  margin: 50px auto 20px;
}

.contacts__phone a, .contacts__addr a, .contacts__email a {
  text-decoration: none;
  color: #262626;
}

.contacts__phone address, .contacts__addr address, .contacts__email address {
  font-style: normal;
}

.questions {
  padding: 30px 0;
}

.questions-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__title {
  margin-right: 30px;
  font-family: 'Proxima Nova Semibold', serif;
}

.questions__link {
  color: #507fe1;
  font-size: 18px;
}

.footer {
  background-color: #000000;
  padding: 50px 0;
  color: #fff;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  margin-top: 40px;
  opacity: .4;
}

.footer__item .logo__description {
  color: #ffffff;
}

.footer__payments img {
  height: 19px;
  margin: 0 10px;
}

.footer__contacts {
  text-align: right;
}

.footer__phone {
  font-family: 'Proxima Nova Semibold', serif;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.footer__email {
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.footer__social img {
  margin: 0 5px;
}

@media all and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .offer-block {
    background-position: center right -100px;
  }
  .blog-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 60px;
  }
  .blog__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 265px;
    margin-right: 20px;
  }
  .price-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 60px;
  }
  .price__item {
    margin: 10px;
  }
}

@media all and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .navbar__mobile, .navbar__landline {
    display: none;
  }
  .hero {
    padding: 40px 0;
  }
  .offer {
    padding-bottom: 60px;
  }
  .offer-block {
    background-image: none;
    padding: 40px;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .form__input {
    border-right-width: 1px;
    margin-bottom: 15px;
    width: 100%;
  }
  .form__policy {
    margin-left: 0;
    margin-top: 10px;
  }
  .features {
    padding: 50px 0;
  }
  .features__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-top: 20px;
  }
  .blog-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog__item {
    margin: 10px;
  }
  .step {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .step::before {
    display: none;
  }
  .steps-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fabric-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fabric__image {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .hero {
    background-size: 100%;
    background-position: top right;
  }
  .hero__title {
    font-size: 1.58rem;
    max-width: 250px;
    margin-bottom: 20px;
  }
  .hero__subtitle {
    margin-bottom: 30px;
  }
  .offer-block {
    margin-top: -150px;
  }
  .offer-block__title {
    font-size: 20px;
  }
  .offer-block__subtitle {
    font-size: 17px;
  }
  .offer .form__input {
    height: 50px;
  }
  .offer .form__button {
    height: auto;
  }
  .catalog {
    padding: 40px 30px;
  }
  .catalog__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .blog-wrap {
    padding: 0;
  }
  .price {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .steps {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contacts {
    text-align: left;
    margin-top: 30px;
  }
  .footer__payments {
    margin-top: 40px;
  }
}

@media all and (max-width: 576px) {
  .logo {
    display: none;
  }
  .button-o {
    font-size: 10px;
  }
  .menu {
    top: 60px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
  .menu-button {
    height: 60px;
  }
  .features__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .catalog {
    padding: 40px 0;
  }
  .blog {
    padding: 40px 0;
  }
  .blog__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__title {
    text-align: center;
    padding: 0 50px;
  }
  .step {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=style.css.map */