
body
	+light
	color: $default-color

.button-o
	text-transform: uppercase
	background-color: transparent
	border: 2px solid $primary
	padding: 17px 22px
	cursor: pointer
	color: $primary
	+bold
	font-size: 12px

.button
	text-transform: uppercase
	background-color: $primary
	border: none
	color: #fff
	font-size: 12px
	padding: 25px 45px
	+bold