@media all and (max-width: 1200px)
	.container
		max-width: 960px

@media all and (max-width: 992px)
	.container
		max-width: 750px
	.navbar
		&__mobile, &__landline
			display: none
	.hero
		background-size: cover
		background-position: left 32% top 60px
		&__title
			font-size: 1.58rem
			max-width: 250px

@media all and (max-width: 768px)
	.container
		max-width: 100%
		padding: 0 20px

@media all and (max-width: 576px)
	.logo
		display: none
	.button-o
		font-size: 10px
	.menu
		top: 60px
		&__nav
			flex-direction: column
		&__link
			margin-bottom: 20px
		&-button
			height: 60px