.hero
	background: #f1f1f1 url('../img/hero/hero-bg.jpg') no-repeat center top
	background-size: cover
	padding: 120px 0 110px
	margin-top: 80px
	&__title
		max-width: 262px
		font-size: 30px
		margin-bottom: 40px
	&__subtitle
		font-size: 30px
		+bold
		margin-bottom: 60px
		display: block

